<h1 class="pt-4">About Jungle</h1>
<p class="pt-4 text-success">Jungle is your go-to app for discovering and purchasing a wide variety of plants to transform any space into a lush, green oasis. With an extensive selection of indoor and outdoor plants, Jungle makes it easy to bring nature closer to home</p>
